.container{
    margin:10px 10px;
    background-color: #7cebbf;
    width: 240px;
}
button{
    width: 180px;
    height: 40px;
    border: none;
    background-color: #f43fbe;
    color: #fff;
}

